# **Predicting Outcomes of Baseball Games Using Machine Learning Approaches: The Sequel**

## **By: Mike Delevan**
## **October 10, 2019**

### **Initial Loading of the Data**

As you may remember, I initially used Java to load and pre-process the data for later use in the system. This horrendous mistake was made because I thought I would later use Java for web scraping. However, after some consideration I decided to do my entire project in Python instead of Java, Python, and C#. Let's look into the data on [Retrosheet](https://www.retrosheet.org/) and then go over the Java code just to get a feel for my project's humble beginnings 1.5 months ago.

As you could see from the Java file, I had to keep track of a peculiar case for the Miami Marlins. Let's combine the files for each team and see where the issue is.

In [5]:
import pandas as pd
import os

os.chdir('C:\\Users\\Mike Delevan\\Documents\\gl2010_18')

teamAbbr = ["CHN","PHI","PIT", "CIN", "SLN", "BOS", "CHA",
                "CLE", "DET", "NYA", "BAL", "LAN", "SFN", "MIN",
                "HOU", "NYN", "ATL", "OAK", "KCA", "SDN", "TEX",
                "TOR", "SEA", "FLO", "COL", "ANA", "TBA", "ARI",
                "MIL", "WAS"]

for x in range(30):
        all_filenames = []
        for y in range(2010,2019):
            all_filenames.append(teamAbbr[x] + str(y) + ".csv")
            #print(all_filenames)

        if(os.path.isfile(teamAbbr[x]+ '_All.csv')):
            print("File has already been created!")
        else:
            combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames])
            combined_csv.to_csv(teamAbbr[x]+ "_All.csv", index=False, encoding='utf-8-sig')

        try:
            data = pd.read_csv(teamAbbr[x] + '_All.csv')
            data.drop(['Visiting Team Line Numbers', 'Home Team Line Numbers'],axis=1, inplace=True)
            data.to_csv(teamAbbr[x] + '_All.csv', index=False)

        except KeyError:
            print("These columns are not in the file!")

In [14]:
marlins = pd.read_csv('FLO_All.csv')
marlins.head(10)

,Date,Visting Team,League,Visiting Team Game Number,Home Team,League.1,Home Team Game Number,Visiting Team Score,Home Team Score,Length of Game in Outs,...,Home Team Errors,Home Team Passed Balls,Home Team Double Plays,Home Team Triple Plays,Winning Pitcher ID,Losing Pitcher ID,Saving Pitcher ID,Visiting Starter Pitcher ID,Home Starter Pitcher ID,Unnamed: 75
0,20100405,FLO,NL,1,NYN,NL,1,1,7,51,...,1,0,0,0,santj003,johnj009,NaN,johnj009,santj003,NaN
1,20100407,FLO,NL,2,NYN,NL,2,7,6,60,...,0,0,0,0,nunel001,takah001,woodt003,nolar001,mainj001,NaN
2,20100408,FLO,NL,3,NYN,NL,3,3,1,54,...,0,0,1,0,roben001,niesj001,nunel001,roben001,niesj001,NaN
3,20100409,LAN,NL,4,FLO,NL,4,7,3,54,...,2,0,0,0,kuroh001,volsc001,NaN,kuroh001,volsc001,NaN
4,20100410,LAN,NL,5,FLO,NL,5,6,7,52,...,2,0,1,0,veraj001,sherg001,NaN,padiv001,johnj009,NaN
5,20100411,LAN,NL,6,FLO,NL,6,5,6,51,...,2,0,0,0,hensc002,weavj002,nunel001,haegc001,sanca004,NaN
6,20100412,CIN,NL,7,FLO,NL,7,6,5,60,...,1,0,1,0,massn001,badeb001,cordf002,cuetj001,nolar001,NaN
7,20100413,CIN,NL,8,FLO,NL,8,10,8,66,...,1,0,2,0,owinm001,meyed002,cordf002,arrob001,roben001,NaN
8,20100414,CIN,NL,9,FLO,NL,9,3,5,51,...,0,0,0,0,volsc001,bailh001,badeb001,bailh001,volsc001,NaN
9,20100415,CIN,NL,10,FLO,NL,10,2,10,51,...,1,0,0,0,johnj009,haraa001,NaN,haraa001,johnj009,NaN

Seems all fine and dandy here doesn't it? Let's take a look at the most recent rows in the dataset:

In [15]:
marlins.tail(10)

,Date,Visting Team,League,Visiting Team Game Number,Home Team,League.1,Home Team Game Number,Visiting Team Score,Home Team Score,Length of Game in Outs,...,Home Team Errors,Home Team Passed Balls,Home Team Double Plays,Home Team Triple Plays,Winning Pitcher ID,Losing Pitcher ID,Saving Pitcher ID,Visiting Starter Pitcher ID,Home Starter Pitcher ID,Unnamed: 75
1446,20180920,CIN,NL,154,MIA,NL,152,4,2,54,...,1,0,2,0,reedc002,brigj002,igler001,reedc002,brigj002,NaN
1447,20180921,CIN,NL,155,MIA,NL,153,0,1,58,...,0,0,0,0,barrk002,hernd002,NaN,castl003,chenw001,NaN
1448,20180922,CIN,NL,156,MIA,NL,154,1,5,51,...,0,0,1,0,urenj001,desca001,stecd001,desca001,urenj001,NaN
1449,20180923,CIN,NL,157,MIA,NL,155,0,6,51,...,0,0,1,0,richt001,lorem002,NaN,lorem002,richt001,NaN
1450,20180924,MIA,NL,156,WAS,NL,157,3,7,51,...,2,0,0,0,millj006,alcas001,NaN,alcas001,stras001,NaN
1451,20180925,MIA,NL,157,WAS,NL,158,4,9,51,...,2,0,0,0,schem001,brigj002,NaN,brigj002,schem001,NaN
1452,20180926,MIA,NL,158,WAS,NL,159,3,9,42,...,0,0,0,0,suerw002,chenw001,NaN,chenw001,mcgok002,NaN
1453,20180928,MIA,NL,159,NYN,NL,160,8,1,54,...,3,0,1,0,urenj001,sewap001,NaN,urenj001,oswac001,NaN
1454,20180929,MIA,NL,160,NYN,NL,161,0,1,76,...,0,0,1,0,zamod001,garcj006,NaN,richt001,matzs001,NaN
1455,20180930,MIA,NL,161,NYN,NL,162,0,1,51,...,0,0,1,0,syndn001,alcas001,NaN,alcas001,syndn001,NaN

So, it seems as though during the course of 8 years the marlins decided to change their name and their abbreviation from **FLO** to **MIA** just to inconvenience this project in 2019. Let's fix those rows so that they are all consistent with each other

In [19]:
marlins.loc[(marlins['Home Team'] == "MIA"), 'Home Team'] = "FLO"
marlins.loc[(marlins['Visting Team'] == "MIA"), 'Visting Team'] = "FLO"

Now lets check the oldest rows in the data:

In [20]:
marlins.head(10)

,Date,Visting Team,League,Visiting Team Game Number,Home Team,League.1,Home Team Game Number,Visiting Team Score,Home Team Score,Length of Game in Outs,...,Home Team Errors,Home Team Passed Balls,Home Team Double Plays,Home Team Triple Plays,Winning Pitcher ID,Losing Pitcher ID,Saving Pitcher ID,Visiting Starter Pitcher ID,Home Starter Pitcher ID,Unnamed: 75
0,20100405,FLO,NL,1,NYN,NL,1,1,7,51,...,1,0,0,0,santj003,johnj009,NaN,johnj009,santj003,NaN
1,20100407,FLO,NL,2,NYN,NL,2,7,6,60,...,0,0,0,0,nunel001,takah001,woodt003,nolar001,mainj001,NaN
2,20100408,FLO,NL,3,NYN,NL,3,3,1,54,...,0,0,1,0,roben001,niesj001,nunel001,roben001,niesj001,NaN
3,20100409,LAN,NL,4,FLO,NL,4,7,3,54,...,2,0,0,0,kuroh001,volsc001,NaN,kuroh001,volsc001,NaN
4,20100410,LAN,NL,5,FLO,NL,5,6,7,52,...,2,0,1,0,veraj001,sherg001,NaN,padiv001,johnj009,NaN
5,20100411,LAN,NL,6,FLO,NL,6,5,6,51,...,2,0,0,0,hensc002,weavj002,nunel001,haegc001,sanca004,NaN
6,20100412,CIN,NL,7,FLO,NL,7,6,5,60,...,1,0,1,0,massn001,badeb001,cordf002,cuetj001,nolar001,NaN
7,20100413,CIN,NL,8,FLO,NL,8,10,8,66,...,1,0,2,0,owinm001,meyed002,cordf002,arrob001,roben001,NaN
8,20100414,CIN,NL,9,FLO,NL,9,3,5,51,...,0,0,0,0,volsc001,bailh001,badeb001,bailh001,volsc001,NaN
9,20100415,CIN,NL,10,FLO,NL,10,2,10,51,...,1,0,0,0,johnj009,haraa001,NaN,haraa001,johnj009,NaN

Now let's check the most recent rows in the data:

In [21]:
marlins.tail(10)

,Date,Visting Team,League,Visiting Team Game Number,Home Team,League.1,Home Team Game Number,Visiting Team Score,Home Team Score,Length of Game in Outs,...,Home Team Errors,Home Team Passed Balls,Home Team Double Plays,Home Team Triple Plays,Winning Pitcher ID,Losing Pitcher ID,Saving Pitcher ID,Visiting Starter Pitcher ID,Home Starter Pitcher ID,Unnamed: 75
1446,20180920,CIN,NL,154,FLO,NL,152,4,2,54,...,1,0,2,0,reedc002,brigj002,igler001,reedc002,brigj002,NaN
1447,20180921,CIN,NL,155,FLO,NL,153,0,1,58,...,0,0,0,0,barrk002,hernd002,NaN,castl003,chenw001,NaN
1448,20180922,CIN,NL,156,FLO,NL,154,1,5,51,...,0,0,1,0,urenj001,desca001,stecd001,desca001,urenj001,NaN
1449,20180923,CIN,NL,157,FLO,NL,155,0,6,51,...,0,0,1,0,richt001,lorem002,NaN,lorem002,richt001,NaN
1450,20180924,FLO,NL,156,WAS,NL,157,3,7,51,...,2,0,0,0,millj006,alcas001,NaN,alcas001,stras001,NaN
1451,20180925,FLO,NL,157,WAS,NL,158,4,9,51,...,2,0,0,0,schem001,brigj002,NaN,brigj002,schem001,NaN
1452,20180926,FLO,NL,158,WAS,NL,159,3,9,42,...,0,0,0,0,suerw002,chenw001,NaN,chenw001,mcgok002,NaN
1453,20180928,FLO,NL,159,NYN,NL,160,8,1,54,...,3,0,1,0,urenj001,sewap001,NaN,urenj001,oswac001,NaN
1454,20180929,FLO,NL,160,NYN,NL,161,0,1,76,...,0,0,1,0,zamod001,garcj006,NaN,richt001,matzs001,NaN
1455,20180930,FLO,NL,161,NYN,NL,162,0,1,51,...,0,0,1,0,syndn001,alcas001,NaN,alcas001,syndn001,NaN

Thankfully, no other team decided to have an identity crisis over the past few years! Go every other team in the MLB!

Let's make the team abbreviation constant over all team files! (Note: This is all done in one loop in the actual python file but for the sake of this wonderful presentation I've broken it up!)

In [ ]:
for x in range(30):
    data = pd.read_csv(teamAbbr[x] + '_All.csv')
    
    data.loc[(data['Home Team'] == "MIA"), 'Home Team'] = "FLO"
    data.loc[(data['Visting Team'] == "MIA"), 'Visting Team'] = "FLO"